<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">articles Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal(null, 'add')">Add articles <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searcharticless(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search articless..." required>
     </form>
  </div>
</nav>
<div class="container" id="main-container">
<div class="row">
  <div *ngFor="let article of articles" class="col-md-6 col-xl-3">
     <div class="card m-b-30">
        <div class="card-body row">
           <!-- <div class="col-6">
              <a href=""><img src="{{articles?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
           </div> -->
           <div class="col-6 card-title align-self-center mb-0">
              <h5>{{article?.title}}</h5>

                <p class="post-text" [innerHtml]="article.body"></p>
              <!-- <p class="m-0">{{article?.body}}</p> -->
              <!-- <ckeditor [editor]="Editor"  ngModel="{{article?.body}}" type="text" id="body" class="form-control" name="body" data="<p>Hello, world!</p>"></ckeditor> -->

           </div>
        </div>
        <!-- <ul class="list-group list-group-flush">
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{articles?.email}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{articles?.phone}}</li>
        </ul> -->
        <div class="card-body">
           <div class="float-right btn-group btn-group-sm">
              <a (click)="onOpenModal(article, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a (click)="onOpenModal(article, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
           </div>
        </div>
     </div>
  </div>
</div>

<!-- Add articles Modal -->
<div class="modal fade" id="addarticlesModal" tabindex="-1" role="dialog" aria-labelledby="addarticlesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addArticleModalLabel">Add articles</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
          <div class="form-group">
             <label for="name">Title</label>
             <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title" required>
          </div>
          <div class="form-group">
             <label for="body">Body</label>
             <!-- <input type="text" ngModel name="body" class="form-control" id="body" placeholder="Body" required> -->


             <ckeditor [editor]="Editor"  ngModel type="text" id="body"  name="body" data="<p>Hello, world!</p>"></ckeditor>
            </div>

            <!-- <editor [formControlName]="'description'" [init]="{
              height: 500,
              menubar: false,
              plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
              ],
              toolbar:
                'undo redo | formatselect | bold italic backcolor | \
                alignleft aligncenter alignright alignjustify | \
                bullist numlist outdent indent | removeformat | help'
            }"></editor> -->
          <!-- <div class="form-group">
             <label for="phone">Job title</label>
             <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile" placeholder="Job title" required>
          </div>
          <div class="form-group">
             <label for="phone">Phone</label>
             <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
          </div>
          <div class="form-group">
             <label for="phone">Image URL</label>
             <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
          </div> -->
          <div class="modal-footer">
             <button type="button" id="add-articles-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

<!-- Edit Modal -->
<div class="modal fade" id="updatearticlesModal" tabindex="-1" role="dialog" aria-labelledby="articlesEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updatearticlesModalLabel">Edit articles {{editarticles?.title}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="name">Article Title</label>
                 <input type="text" ngModel="{{editarticles?.title}}" name="title" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Name">
              </div>
              <input type="hidden" ngModel="{{editarticles?.id}}" name="id" class="form-control" id="id" placeholder="Email">
              <!-- <input type="hidden" ngModel="{{editarticles?.code}}" name="userCode" class="form-control" id="userCode" placeholder="Email"> -->
              <div class="form-group">
                 <label for="email">Body</label>
                 <!-- <input type="text" ngModel="{{editarticles?.body}}" name="body" class="form-control" id="body" placeholder="Body"> -->
                 <ckeditor [editor]="Editor"  ngModel="{{editarticles?.body}}" type="text" id="body" class="form-control" name="body" data="<p>Hello, world!</p>"></ckeditor>
              </div>
              <!-- <div class="form-group">
                 <label for="phone">Job title</label>
                 <input type="text" ngModel="{{editarticles?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title">
              </div>
              <div class="form-group">
                 <label for="phone">Phone</label>
                 <input type="text" ngModel="{{editarticles?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
              </div>
              <div class="form-group">
                 <label for="phone">Image URL</label>
                 <input type="text" ngModel="{{editarticles?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
              </div> -->
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateArticle(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deletearticlesModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete articles</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete articles {{deletearticles?.title}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteEmloyee(deletearticles?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>

<!-- Notification for no articless -->
<div *ngIf="articles?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">NO articlesS!</h4>
  <p>No articless were found.</p>
</div>
</div>
